
/* font-family Abel */
@font-face{
    font-family: Abel;
    src: url('../fonts/Abel/Abel-Regular.ttf');
}
/* font-family Anton */
@font-face{
    font-family: Anton;
    src: url('../fonts/Anton/Anton-Regular.ttf');
}
/* font-family Roboto */
@font-face{
    font-family: Roboto;
    src: url('../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
}
/* font-family Josefin */
@font-face{
    font-family: Josefin;
    src: url('../fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf');
}